# folder
.idea/
volumes/
.venv/
old_coding/
src/backend/logs/
testfile/
src/backend/TTL/
src/frontend/node_modules/
log/
OWL2VOWL/
WebVOWL/
src/frontend/dist/
test/
offline_packages/
graph_injector_service/

# files
*.pyc
.env
*.ttl
*.log
*.log.*
*.docx
*.txt
*.pdf

